@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;

}

body {
    background-color: #FAF0E6;
    margin: 0;
    padding:0;
    display:grid;
    justify-content: center;

    
}

header {
    font-size: 15px;
    background-color: #4D008B;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

}

header img {
    margin-left: 30px;
    border-radius: 50px;
    padding: 20px;

}


div img {
    background-size: cover;
    height: 110px;
    width: 100%;

}

section {
    display: flex;
    justify-content: flex-end;

}

section img {
    background-size: cover;
    height: 25px;
    width: auto;
    gap: 5px;


}



.container {

    width: 1000px;
    border-radius: 5px;
    padding: 2px;
    font-size: 18px;
    border-radius: 30px;
    gap: 2rem;



}


form {
    display: flex;

    
    margin: 0 auto 0;
    font-size: 18px;

    border-radius: 30px;

}



input {
    flex: 1;
    border: none;
    outline: none;
    background-color: #FFE4E1;
    align-items: center;
    width: 100px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
   
}


button {
    padding: .5rem;
    border: 0;
    background-color: #8A2BE2;
    border-radius: .5rem;
    color: #FFFFFF;


    align-items: center;


    
}

.task-name input {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #dbd5d5;
    border: 0.07rem solid #8f8989;
    box-shadow: 0rem .4rem 1.6rem rgba(22, 22, 22, 0.1);
    border-radius: .8rem;
    padding: 0 2.4rem;
    flex: 1;
}



button:hover {
    opacity: 0.8;

}

button:active {
    opacity: 0.2;
}



ul {
    list-style: none;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    background-color: #F8F8FF;
    border-radius: 15px 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    margin: 5px;
    gap: 2rem; 




}

ul ::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;


}



.task-name {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    transition: 0.3s;
}

.task-name:hover {
    max-width: 500px;
    white-space: normal;
}

.task-select {
    background-size: cover;
    height: 16px;
    width: auto;
    flex-direction: row;
}

.completed {
    text-decoration: line-through;
    color: rgb(105, 4, 126);
}


/* mexer nos avisos */

@media screen and (max-width: 1020px) {

    /* Container*/
    .container {

        width: auto;
        padding: 40px 8%;

    }




}