@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;

}

body {
    flex: flex;
    justify-content: center;
    background-color: rgb(240, 235, 243);
}

header {
    font-size: 20px;
    background-color: rgb(105, 4, 126);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

}

header img {
    margin-left: 60px;
    border-radius: 50px;
    padding: 15px;

}


div img {
    background-size: cover;
    height: 211px;
    width: 100%;

}

section {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

section img {
    background-size: cover;
    height: 50px;
    width: auto;

}

.bulk-actions {
    display: flex;
    align-items: center;
}

.container {
    background-color: rgb(248, 248, 248);
    width: 1000px;
    border-radius: 5px;
    padding: 2px;
    margin: 0 auto 0;
    font-size: 18px;
    align-items: center;
    border-radius: 30px;

}


form {
    display: flex;
    justify-content: row;
    background-color: rgb(248, 248, 248);
    width: 500px;
    border-radius: 5px;
    margin: 0 auto 0;
    font-size: 18px;
    align-items: center;
    border-radius: 30px;

}

input {
    flex: 1;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 10000px;
    height: 40px;
    padding-left: 10px;
    align-items: center;
    font-size: 16px;

}


button {
    border: none;
    outline: none;
    border-radius: 50px;
    height: px;
    background-color: rgb(105, 4, 126);
    color: rgb(248, 248, 248);
    font-size: 16px;
    padding: 16px;
    float: right;
    cursor: pointer;
    flex-direction: row;

}

button:hover {
    opacity: 0.8;

}

button:active {
    opacity: 0.2;
}

.task-list {
    width: 100%;
    list-style: none;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: #000000;

}

ul {
    list-style: none;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    background-color: rgb(248, 238, 228);
    border-radius: 15px 10px;

}

ul ::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;


}



.task-name {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    transition: 0.3s;
}

.task-name:hover {
    max-width: 500px;
    white-space: normal;
}

.task-select {
    background-size: cover;
    height: 16px;
    width: auto;
    flex-direction: row;
}

.completed {
    text-decoration: line-through;
    color: rgb(105, 4, 126);
}

@media screen and (max-width: 1020px) {

    /* Container*/
    .container {

        width: auto;
        padding: 40px 8%;

    }

    .bulk-actions {
 
        align-items: center;
    }


}